@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-button {
  @apply bg-primaryButtonBg;
}

.bg-secondary-button {
  @apply bg-secondaryButtonBg;
}
.text-body{
  @apply text-bodyText;
}
.perk-title{
  @apply text-perkTitle
}
.btn-text-secondary{
  @apply text-btnTextSecondary
}
.btn-text-primary{
  @apply text-btnTextPrimary
}
.gradient-text {
  @apply bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd bg-clip-text text-transparent;
}
.gradient-header {
  background: linear-gradient(90deg, rgba(13, 99, 178, 0.04) 22%, rgba(12, 221, 108, 0.07) 100%);
}
.catTextTitle{
  @apply text-categoryTextTitle
}

/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn-text{
  @apply text-[14px] leading-[20px] font-[400] text-center
}
.text-title{
  @apply text-[70px] leading-[86px] font-[400] 
}
.sub-title{
  @apply text-[12px] leading-[19.5px] font-[400] text-bodyText
}
.text-body{
  @apply text-[18px] leading-[32px] font-[400] text-bodyText
}
.perk-title{
  @apply text-[16px] leading-[19.5px] font-[500]
}
.perk-body{
  @apply text-[14px] leading-[22px] font-[400]
}
.cat-text{
  @apply text-[35px] leading-[32px] font-[500]
}
.consultant-sub-text{
  @apply text-[14px] leading-[22px] font-[400]
}
.testimonial-body{
@apply text-[18px] leading-[32px] font-[400]
}
.testimonial-name{
  @apply text-[16px] leading-[23px] font-[700]
}
.testimonial-location{
  @apply text-[14px] leading-[23px] font-[400]
}
.question-text{
  @apply text-[20px] leading-[32px] font-[500]
}
.answer-text{
  @apply text-[35px] leading-[86px] font-[400]
}
.blog-text-top{
  @apply text-[14px] leading-[19.5px] font-[400]
}
.blog-text-body{
  @apply text-[18px] leading-[32px] font-[700]
}
.footer-title{
  @apply text-[25px] leading-[22px] font-[600] text-center
}
.footer-links{
  @apply text-[16px] leading-[25px] font-[590]
}
.footer-text-bottom{
  @apply text-[18px] leading-[21.48px] font-[700]
}
